<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Edit Pizza')">Header</head>
<body>

<nav th:replace="fragments/navbar :: navbar('admin')"></nav>

<section class="ftco-section" th:style="'background-image: url(/images/bg_1.jpg)'">
    <div class="container">
        <div class="row justify-content-center flex-column align-content-center text-center mb-5 pb-3">
            <h2 class="balu-green">Edit Pizza</h2>
        </div>

        <div th:style="'background-image: url(/images/bg_4.jpg)'">
            <div class="row d-flex flex-column justify-content-center align-content-center mt-3">
                <div class="col-md-8 justify-content-center p-5">
                    <form th:method="PATCH" th:action="@{/admin/edit/pizza/{id}(id=${pizza.id})}" th:object="${pizza}"
                          xmlns="http://www.w3.org/1999/html">
                        <div class="mb-3">
                            <label class="form-label" for="name">Enter pizza title: </label>
                            <input class="form-control" type="text" th:field="*{name}" id="name"
                                   placeholder="Name"/>
                            <div class="form-text" style="color:red" th:if="${#fields.hasErrors('name')}"
                                 th:errors="*{name}">
                                Name Error
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="priceIn">Enter price: </label>
                            <input class="form-control" type="number" step="0.5" th:field="*{price}" id="priceIn"
                                   placeholder="0.00"/>
                            <div class="form-text" style="color:red" th:if="${#fields.hasErrors('price')}"
                                 th:errors="*{price}">Price
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="image">Enter image title: </label>
                            <input class="form-control" type="text" th:field="*{image}" id="image"/>
                            <div class="form-text" style="color:red" th:if="${#fields.hasErrors('image')}"
                                 th:errors="*{image}">
                                Imager
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="base" class="form-label">Base</label>
                            <select class="form-control" th:object="${pizza}" th:field="*{base}"  id="base">
                                <option th:each="base: ${bases}" th:value="${base.id}"
                                        th:text="${base.getSize() + ' ' + base.name}"></option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="ingredients" class="form-label">Ingredients</label>
                            <div id="ingredientsHelp" class="form-text mt-0 mb-1 ">Use Ctrl + left mouse click for multiply choice</div>
                            <select class="form-control no-size" th:size="${ingredients.size()}"  th:object="${pizza}" th:field="*{ingredients}" multiple  id="ingredients">
                                <option th:each="ingredient: ${ingredients}" th:value="${ingredient.id}"
                                        th:text="${ingredient.name + ' (' + ingredient.getType().name + ')'}"></option>
                            </select>
                        </div>

                        <div class="mb-1 text-center">
                            <input class="ml-3 btn btn-primary" type="submit" value="Save"/>
                            <a th:href="@{/admin}" class="ml-3 btn btn-primary" th:text="'Back'"></a>
                        </div>
                    </form>
                </div>


            </div>
            <div class="row d-flex flex-column justify-content-center text-center align-content-center mt-3">
                <div class="col-md-10 justify-content-center al my-4">
                    <a th:href="@{/menu}" class="mr-3 btn btn-white btn-outline-white">Menu</a>
                    <a th:href="@{/admin/add/ingredient}" class="mr-3 btn btn-white btn-outline-white">Add ingredient</a>
                    <a th:href="@{/admin/add/pizza}" class="mr-3 btn btn-white btn-outline-white">Add pizza</a>
                </div>
            </div>
        </div>
    </div>


    </div>
</section>


<div th:replace="fragments/footer :: footer('sergiibugaienko@gmail.com')"></div>
<div th:replace="fragments/loader"></div>

</body>
</html>

