<footer th:fragment="footer(email)" class="ftco-footer ftco-section img">
    <div class="overlay"></div>
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">About Us</h2>
                    <p>If you want to see the site's administrator-only functionality, send me an email and I'll give
                        you access. </p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                        <li class="ftco-animate"><a href="https://github.com/Bugaienko/Pizza-Single-Modules"
                                                    target="_blank"><span class="icon-github"></span></a></li>
                        <li class="ftco-animate"><a href="https://t.me/SergeyBug"><span
                                class="icon-telegram"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="https://www.linkedin.com/in/sergii-bugaienko-a89b78237/"
                                                    target="_blank"><span class="icon-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-md-5">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Recent Blog</h2>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" th:style="'background-image: url(images/image_1.jpg)'"></a>
                        <div class="text">
                            <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> Sept 15, 2023</a></div>
                                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" th:style="'background-image: url(images/image_2.jpg)'"></a>
                        <div class="text">
                            <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> Sept 15, 2023</a></div>
                                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 mb-5 mb-md-5">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Services</h2>
                    <ul class="list-unstyled">
                        <li class="py-2 d-block"><a th:href="@{/menu}">Menu</a></li>
                        <li class="py-2 d-block"><a th:href="@{/cafe}">Cafes</a></li>
                        <li class="py-2 d-block"><a th:href="@{/stack}">Project info</a></li>
                        <li class="py-2 d-block"><a th:href="@{https://bugaienko.github.io/javaDocsForPizza/}"
                                                    th:target="_blank">Documentation</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Have a Questions?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">Office Center Central, 203 Lange Str., Berlin, Germany</span>
                            </li>
                            <li>
                                <a th:href="${'tel: +49-151-222-333-44'}"
                                   th:inline="text">
                                    <span class="icon icon-phone white"></span>
                                    [['+49-151-222-333-44']]
                                </a></li>
                            <li><a th:href="${'mailto:' + email}"
                                   th:target="_blank"
                                   th:inline="text">
                                <span class="icon icon-envelope white"></span>
                                [[${email}]]
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p>
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This project is made with <i class="icon-heart" aria-hidden="true"></i> by <a
                        href="https://www.linkedin.com/in/sergii-bugaienko-a89b78237/" target="_blank">Sergii
                    Bugaienko</a>
                </p>
            </div>
        </div>
    </div>
</footer>

<div th:replace="fragments/loader"></div>
<div th:replace="scripts"></div>

